ENV{ID_FS_LABEL}=="smaai5upd|SMAAI5UPD", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="add", \
  SUBSYSTEM=="block", \
  RUN+="/bin/touch /tmp/updatehub-usb"

ENV{ID_FS_LABEL}=="smaai5upd|SMAAI5UPD", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="remove", \
  RUN+="/bin/rm -f /tmp/updatehub-usb"
