{
    "objects": [
        [
            {
                "chunk-size": 131072,
                "count": 1,
                "filename": "MLO",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 393216,
                "count": 2,
                "filename": "u-boot.img",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk1p1",
                "target-path": "/",
                "target-type": "device"
            }
        ],
        [
            {
                "chunk-size": 131072,
                "count": 1,
                "filename": "MLO",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 393216,
                "count": 2,
                "filename": "u-boot.img",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mmcblk1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.tar.xz",
                "filesystem": "ext4",
                "format?": true,
                "mode": "tarball",
                "target": "/dev/mmcblk1p2",
                "target-path": "/",
                "target-type": "device"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
