[Unit]
Description=Generate Inobram cloud keys
RequiresMountsFor=/data

[Service]
ExecStart=/usr/bin/inobram-generate-cloud-keys
Type=oneshot

[Install]
WantedBy=multi-user.target
